@model WebRazorCSharp.Models.Vehicle

@{
    var vehicle = ViewBag.vehicle;
}
<h2 class="text-center">@ViewBag.Message</h2>


<form action="/Vehicles/Edit" method="post">
    <div class="row col-md-offset-3">
        <input type="hidden" id="id" name="id" value="@vehicle.Id" />
        @Html.LabelFor(v => v.Name, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Name, new { @class = "form-control", @Value = vehicle.Nome })
            @Html.ValidationMessageFor(v => v.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Model, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Model, new { @class = "form-control", @Value = vehicle.Modelo })
            @Html.ValidationMessageFor(v => v.Model, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Manufacturing, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Manufacturing, new { @class = "form-control", @Value = vehicle.Fabricacao })
            @Html.ValidationMessageFor(v => v.Manufacturing, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Color, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Color, new { @class = "form-control", @Value = vehicle.Cor })
            @Html.ValidationMessageFor(v => v.Color, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Fuel, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Fuel, new { @class = "form-control", @Value = vehicle.Combustivel })
            @Html.ValidationMessageFor(v => v.Fuel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Transmission, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Transmission, new { @class = "form-control", @Value = vehicle.Automatico })
            @Html.ValidationMessageFor(v => v.Transmission, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Valor, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Valor, new { @class = "form-control", @Value = vehicle.Valor.ToString("#0.00") })
            @Html.ValidationMessageFor(v => v.Valor, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="button text-center">
        <button class="btn btn-success " type="submit">Salvar</button>
    </div>
</form>


