<h3 class="text-center">@ViewBag.Message</h3>

<p><a class="btn btn-success" href="/Veiculos/Adicionar">Adicionar &raquo;</a></p>
<br/>

<table class="table table table-success table-striped table table-hover text-center">
    <tr class="table table-bordered">
        <th class="text-center">Marca / Fabricante</th>
        <th class="text-center">Modelo</th>
        <th class="text-center">Ano<br/>Fabricação</th>
        <th class="text-center">Cor</th>
        <th class="text-center">Combustível</th>
        <th class="text-center">Transmissão</th>
        <th class="text-center">Valor</th>
        <th></th>
        <th></th>
    </tr>

    @foreach(var item in ViewBag.Lista)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Modelo</td>
                    <td>@item.Fabricacao</td>
                    <td>@item.Cor</td>
                    <td>@item.Combustivel</td>
                    <td>@item.Automatico</td>              
                    <td>@item.Valor</td>   
                    <td><a href="/Veiculos/Alterar/@item.Id">Editar</a></td>
                    <td><a href="/Veiculos/Excluir/@item.Id">Excluir</a></td>
                </tr>
            }
</table>



<p>Crud TESTE</p>
