@model WebRazorCSharp.Models.Veiculos

@{
    var veiculo = ViewBag.veiculo;
}
<h2 class="text-center">@ViewBag.Message</h2>

@using (Html.BeginForm("Salvar", "Veiculos", FormMethod.Post, new { id = "formVeiculosAlterar", name = "formVeiculosAlterar" }))
{
    <div class="row col-md-offset-3">
        <input type="hidden" id="id" name="id" value="@veiculo.Id" />
        @Html.LabelFor(v => v.Nome, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Nome, new { @class = "form-control", @Value = veiculo.Nome })
            @Html.ValidationMessageFor(v => v.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Modelo, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Modelo, new { @class = "form-control", @Value = veiculo.Modelo })
            @Html.ValidationMessageFor(v => v.Modelo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Fabricacao, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Fabricacao, new { @class = "form-control", @Value = veiculo.Fabricacao })
            @Html.ValidationMessageFor(v => v.Fabricacao, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Cor, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Cor, new { @class = "form-control", @Value = veiculo.Cor })
            @Html.ValidationMessageFor(v => v.Cor, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Combustivel, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Combustivel, new { @class = "form-control", @Value = veiculo.Combustivel })
            @Html.ValidationMessageFor(v => v.Combustivel, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Automatico, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Automatico, new { @class = "form-control", @Value = veiculo.Automatico })
            @Html.ValidationMessageFor(v => v.Automatico, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row col-md-offset-3">
        @Html.LabelFor(v => v.Valor, new { @class = "col-sm-2 col-form-label text-right" })
        <div class="col-sm-4">
            @Html.TextBoxFor(v => v.Valor, new { @class = "form-control", @Value = veiculo.Valor.ToString("#0.00") })
            @Html.ValidationMessageFor(v => v.Valor, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="button text-center">
        <button class="btn btn-success " type="submit">Salvar</button>
    </div>


}

