@{
    var veiculo = ViewBag.veiculo;
}

<h2>@ViewBag.Title</h2>
<h2>@ViewBag.Message</h2>

<form action="/Veiculos/salvar" method="post">

    <div>
        <input type="hidden" id="id" name="id" value="@veiculo.Id" />
        <label for="nome">Marca:</label>
        <input type="text" id="nome" name="nome" value="@veiculo.Nome" />
    </div>

    <div>
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="@veiculo.Modelo" />
    </div>

    <div>
        <label for="fabricacao">Ano:</label>
        <input type="text" id="fabricacao" name="fabricacao" value="@veiculo.Fabricacao"/>
    </div>

    <div>
        <label for="cor">Cor:</label>
        <input type="text" id="cor" name="cor" value="@veiculo.Cor"/>
    </div>

    <div>
        <label for="combustivel">Combustivel:</label>
        <input type="text" id="combustivel" name="Combustivel" value="@veiculo.Combustivel"/>
    </div>

    <div>
        <label for="automatico">Cambio AT:</label>
        <input type="text" id="automatico" name="automatico" value="@veiculo.CambioAT"/>
    </div>

    <div>
        <label for="valor">Valor:</label>
        <input type="text" id="valor" name="valor" value="@veiculo.Valor" />
    </div>

    <br />
    <div class="button">
        <button type="submit">Salvar</button>
    </div>
</form>
